<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fitnessappformyself">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FitnessAppForMyself">
        <activity
            android:name=".WorkoutOfTheDayActivity"
            android:exported="true"
            android:label="Today's Workout" />
        <activity
            android:name=".WorkoutSetupTwo"
            android:exported="true" />
        <activity
            android:name=".CrashActivity"
            android:exported="true"
            android:label="Crash Report" />
        <activity
            android:name=".create_profile_next"
            android:exported="true"
            android:label="Profile Setup 2" />
        <activity
            android:name=".ProfActivity"
            android:exported="true"
            android:label="Profiles" />
        <activity
            android:name=".ProfileActivity"
            android:exported="true"
            android:label="Profile Setup" />
        <activity
            android:name=".SettingsActivity"
            android:exported="true"
            android:label="Settings" />
        <activity
            android:name=".MainActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>