<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fitnessappformyself">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FitnessAppForMyself">
        <activity
            android:name=".SelectedBodyPartActivity"
            android:exported="false" />
        <activity
            android:name=".WeeklyPlanActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".WorkoutOfTheDayActivity"
            android:exported="true"
            android:label="Today&apos;s Workout"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".CrashActivity"
            android:exported="true"
            android:label="Crash Report" />
        <activity
            android:name=".create_profile_next"
            android:exported="true"
            android:label="Profile Setup 2"
            android:parentActivityName=".ProfileActivity" />
        <activity
            android:name=".ProfileActivity"
            android:exported="true"
            android:label="Profile Setup"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>